body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url(imagem\ de\ fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}


header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive; 
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.primeira-letra {
    color: #e44d26;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.cardapio-link {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.cardapio-link a {
    text-decoration: none;
    color: #e44d26;
    font-size: 1.5em;
    font-weight: bold;
}


.image-zoom img {
    transition: transform 0.3s ease;
}

.image-zoom:hover img {
    transform: scale(1.05);
}


.animated {
    animation-duration: 1s;
    animation-iteration-count: infinite;
}