body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    font-weight: 600;
}

.container {
    margin-bottom: 20px;
}

#nomeAluno {
    padding: 8px;
    width: 250px;
    font-size: 14px;
}

#btnCadastrar {
    padding: 8px 12px;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
}

#lista-alunos {
    background: white;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
}
