table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.estrelas {
  background-color: #90ee90; /* Fundo verde */
  font-size: 20px; /* Ajuste o tamanho das estrelas conforme necessário */
}

.estrelas::before {
  content: ""; /* Conteúdo inicial vazio */
  display: inline-block;
  /* Use a sequência de caracteres de estrela aqui:  */
  content: "★★★★★";
  color: white; /* Cor branca para as estrelas apagadas */
}

.estrelas[data-nota="1"]::before {
  content: "★☆☆☆☆";
  color: yellow;
}

.estrelas[data-nota="2"]::before {
  content: "★★☆☆☆";
  color: yellow;
}

.estrelas[data-nota="3"]::before {
  content: "★★★☆☆";
  color: yellow;
}

.estrelas[data-nota="4"]::before {
  content: "★★★★☆";
  color: yellow;
}

.estrelas[data-nota="5"]::before {
  content: "★★★★★";
  color: yellow;
} 