table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.aprovado {
  background-color: green;
  color: white;
}

.reprovado {
  background-color: red;
  color: white;
}
