body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a202c;
    color: #e2e8f0;
}

header {
    background-color: #2d3748;
    color: #2b2d30;
    padding: 1rem; 
    text-align: right;
}

header a {
    text-decoration: none;
    color: #63b3ed;
    font-weight: bold;
}

main {
    flex: 1; 
    padding: 2rem;
    background-color: #2d3748;
}

.receita ul, .receita ol {
     margin-left: 1.5rem; 
}

.receita {
    margin-bottom: 2rem; 
    padding: 1.5rem; 
    border-radius: 8px; 
    background-color: #4a5568; 
    border: 1px solid #718096; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.receita h2 {
    color: #90cdf4;
}

h1 {
    color: #90cdf4;
}

footer {
    background-color: #2d3748;
    color: #e2e8f0;
padding: 1rem; 
text-align: center; 

}
